@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F9FAFF;
}

header {
    /* height: 90vh; */
    width: 100%;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5%;
}

a {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: double;
}

a:hover {
    text-decoration: underline;
}

footer ul {
    padding-top: 100px;
    position: absolute;
    bottom: 40%;
    left: 45%;
}

footer p {
    color: #828282;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 35%;
    left: 47%;
}

footer {
    position: relative;
}

.About-container img {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    background-color: #ffc229;
}

.about-text {
    width: 50%;
}

.About-container {
    height: fit-content;
    margin: 4% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto;
}

.about-text p {
    color: #828282;
    text-align: justify;
}

.about-text button {
    padding: 8px 20px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffc229;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.contact .line {
    height: 4px;
    width: 100px;
    background-color: #ffc229;
    margin: auto;
}

form {
    width: 45%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    border: none;
    margin: 30px;
}

legend {
    margin-bottom: 15px;
}

input {
    width: 290px;
    height: 35px;
    border: 2px solid #E8ECF4;
    border-radius: 8px;
}

textarea {
    padding: 10px;
    border: 2px solid #E8ECF4;
    border-radius: 8px;
}

.contact button {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffc229;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    right: -20%;
}

@media (max-width: 390px) {
    .about-text p {
        font-size: 13px;
    }

    .about-text button {
        padding: 6px 16px;
        margin: 20px 50%;
        font-size: 12px;
    }
}

@media (max-width:480px) {
    nav ul {
        gap: 12px;
    }

    nav {
        margin: 15px 10px;
        font-size: small;
    }

    .About-container img {
        height: 200px;
        width: 200px;
    }

    .About-container {
        flex-direction: column-reverse;
        margin-top: 10%;
    }

    .about-text {
        width: 98%;
    }

    .about-text button {
        margin: 20px 38%;
    }

    .contact button {
        right: -65%;
    }

    footer>ul svg {
        width: 35px;
    }

    footer ul {
        top: -15%;
        right: 40%;
    }

    footer p {
        font-size: 11px;
        top: 37%;
        left: 37%;
    }
}

@media (min-width: 480px) and (max-width:780px) {
    nav ul {
        gap: 12px;
    }

    nav {
        margin: 15px 10px;
        font-size: small;
    }

    .About-container img {
        height: 200px;
        width: 200px;
    }

    .About-container {
        flex-direction: column-reverse;
        margin-top: 10%;
    }

    .about-text {
        width: 100%;
    }

      .contact button {
        right: -35%;
    }
}