@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F9FAFF;
    overflow-x: hidden;
}

header {
    width: 100vw;
    background-image: url(yellow-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    position: relative;
}

.picture img {
    width: 30%;
    position: absolute;
    top: -6%;
    right: 0%;
    border-radius: 35%;
    object-fit: cover;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;
    padding: 15px;
    position: relative;
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: double;
}

a:hover {
    text-decoration: underline;
}

.intro-section {
    width: 40%;
    margin: 9% 7%;
}


 span {
    color: #ffc229;
    line-height: 25px;
    font-weight: 400;
}

.greet {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    line-height: 50px;
}

.text-about {
    color: #828282;
    text-align: justify;
    line-height: 22px;
}

.button button {
    padding: 7px 19px;
    margin: 10px;
    border: 2px solid;
    border-radius: 8px;
}

.project-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
    margin-top: 5%;
    font-size: xx-large;
}

.project-head div {
    height: 4px;
    width: 100px;
    background-color: #ffc229;
}

.project {
    border-radius: 20px;
    width: 60%;
    height: 270px;
    margin: 50px auto;
    box-shadow: 3px 3px 30px #00000046;
}


.project1 {
    background-image: url(yooga_girl233rlf.jpg);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: right;
}

.project2 {
    background-image: url(pEn_piCimge.jpg);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: left;
}

.project2 .about-project {
    margin-left: 45%;
}

.project3 {
    background-image: url(iMaGeproJecK.jpg);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: right;
}

.about-project {
    width: 45%;
    height: 100%;
    padding: 8% 5%;
    text-align: justify;
}

.project p {
    padding: 0px px;
    color: #828282;
    font-size: 15px;
}

.project h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 15px auto;
    font-size: 22px
}

.about-project button {
    margin: 15px auto;
    padding: 8px 20px;
    border: 2px solid #828282;
    border-radius: 20px;
}

section {
    margin-top: 5%;
}

footer {
    position: relative;
}

footer ul {
    padding-top: 100px;
    position: absolute;
    bottom: 40%;
    left: 45%;
}

footer p {
    color: #828282;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 35%;
    left: 47%;
}

.border {
    width: 100vw;
}

@media (max-width:480px) {
    header{
      background-size: 60% 60%;
      background-position: top;
      background-position-x: right;
    }

    .hero{
        display: flex;
        flex-direction: column;
    }

    nav ul {
        gap: 10px;
    }

    nav {
        margin: auto;
        font-size: 13px;
    }

    .greet {
        font-size: 20px;
        line-height: 28px;
        width: 80%;
    }

    .text-about {
        line-height: 15px;
        font-size: 12px;
        padding-right: 8px;
    }

    .button button {
        padding: 5px 14px;
        margin: 8px;
        border: 1px solid;
        border-radius: 10px;
    }

    .intro-section {
        width: 80%;
        margin: auto ;
        margin-bottom: 15%;
        padding-left: 6px;
        position: relative;
        top: 5em;
    }

    .picture img {
        height: 60%;
        width: 35%;
        top: 2%;
    }

    .project p {
        font-size: 8px;
    }

    .project h3 {
        font-size: 12px;
        font-weight: 400;
        margin: 5px auto;
    }

    .project-head h2{
        font-size: 22px;
        font-weight: 500;
    }

    .project-head div{
        height: 2px;
        width: 70px;
    }

    .about-project button {
        font-size: 6px;
        padding: 4px 6px;
        border-width: 1px;
        margin: auto;
    }

    .project {
        border-radius: 20px;
        width: 75%;
        height: 150px;
        margin: 50px auto;
    }

    footer>ul svg {
        width: 35px;
        height: 250px;
    }

    footer ul {
        top: -15%;
        right: 40%;
    }

    footer p {
        font-size: 11px;
        top: 37%;
        left: 37%;
    }
}

@media (min-width: 480px) and (max-width:780px) {
     header{
      background-size: 60% 85%;
      background-position: top;
      background-position-x: right;
      margin-bottom: 6em;
    }

    .hero{
        display: flex;
        flex-direction: column;
    }

    nav ul {
        gap: 10px;
    }

    nav {
        margin: auto;
        font-size: 13px;
    }

    .greet {
        font-size: 25px;
        line-height: 28px;
        width: 70%;
    }

    .text-about {
        line-height: 15px;
        font-size: 12px;
        padding-right: 8px;
    }

    .button button {
        padding: 5px 14px;
        margin: 8px;
        border: 1px solid;
        border-radius: 10px;
    }

    .intro-section {
        width: 80%;
        margin: auto ;
        margin-bottom: 15%;
        padding-left: 6px;
        position: relative;
        top: 10em;
    }

    .picture img {
        height: 80%;
        width: 35%;
        top: 3%;
    }

    .project p {
        font-size: 11px;
    }

    .project h3 {
        font-size: 13px;
        font-weight: 450;
        margin: 5px auto;
    }

    .project-head h2{
        font-size: 25px;
        font-weight: 500;
    }

    .project-head div{
        height: 3px;
        width: 77px;
    }

    .about-project button {
        font-size: 9px;
        padding: 4px 6px;
        border-width: 1px;
        margin:5px auto;
    }

    .project {
        border-radius: 20px;
        width: 75%;
        height: 190px;
        margin: 50px auto;
    }

    footer>ul svg {
        width: 35px;
        height: 250px;
    }

    footer ul {
        top: -15%;
        right: 40%;
    }

    footer p {
        font-size: 11px;
        top: 37%;
        left: 40%;
    }
}